---
layout: default
title: Home 
description: Deepthi Devaki Akkoorath, a software developer, researcher in distributed systems and eventual consistency. 
---
<div class="row marketing">
	<div class="col-sm-4">
	    <img  class="img avatar" alt="{{ site.data.config.name }}" src="{{ site.data.config.profile }}">
	</div>

	<div class="col-sm-8">
        {% for section in site.data.home %}
                {% for bullet in section[1] %}
                        <p>{{ bullet }}</p>
                {% endfor %}
	<br>
        {% endfor %}
</div>
