---
layout: default
type: projects
include_header: projects_header.html
nav_item: projects
---
{% include page-tops.html %}
{% for project in site.data.projects %}
  {% if project.sta != "old" %}
    <div class="mxn2 clearfix mb2 border-bottom border-light-gray circle-line py3">
  {% else %}
    <div class="mxn2 clearfix">
  {% endif %}
  {% if project.sta != "old" %}
      <div class="col sm-col-4 px2 mb2">
        {% capture image_path %}projects/{{ project.image }}{% endcapture %}
        {% include image.html path=image_path alt=project.name %}
      </div>
  {% endif %}
  {% if project.sta != "old" %}
      <div class="col sm-col-8 px2">
  {% endif %}
        <a id="{{ project.id }}"></a>
  {% if project.sta != "old" %}
        <h2 class="mt0 mb0"><a href="/projects/{{ project.id }}/">{{ project.name }}</a></h2>
        <h5>{{ project.name_long }}</h5>
  {% else %}
        <h3 class="mt0 mb0"><a href="/projects/{{ project.id }}/">{{ project.name }}</a></h3>
          {{ project.name_long }}
  {% endif %}
  {% if project.sta != "old" %}
          <p class="left-align">
	    {{ project.description  | truncatewords: 25, " ...  "}}
            <a href="/projects/{{ project.id }}/" class="link-color"><span> more>></span></a>
          </p>
  {% else %}
      ... <a href="/projects/{{ project.id }}/" class="link-color"><span> more>></span></a>
  {% endif %}
  {% if project.sta != "old" %}
      </div>
  {% endif %}
  {% if project.sta != "old" %}
      <a href="#top" class="sm-col-right col dark-gray h6">
        <i class="fa fa-fw fa-lg fa-angle-double-up"></i>
        Top
      </a>
  {% endif %}
    </div>
{% endfor %}

<div class="mxn2 clearfix mb2 border-bottom border-light-gray circle-line py3">
  <a href="#top" class="sm-col-right col dark-gray h6">
    <i class="fa fa-fw fa-lg fa-angle-double-up"></i>
    Top
  </a>
</div>

<br>
<br>
