---
layout: default
type: publications
include_header: publications_header.html
nav_item: publications
---
  {% include page-tops.html %}
  {% include publications_list.html %}
  <div class="clearfix mb2 border-bottom border-light-gray circle-line">
  {% for section in site.data.sections %}
	{% if section.id == "publications"  or section.id == "talks" %}
            <h4 id="{{ section.id }}">
                {{ section.name }}
            </h4>
            {% capture section_layout %}resume/{{section.layout}}.html{% endcapture %}
            {% for hash in site.data %}
              {% if hash[0] == section.id %}
                {% assign blurb = hash[1] %}
                {% include {{section_layout}} %}
              {% endif %}
            {% endfor %}
	{% endif %}
  {% endfor %}
  <a href="#top" class="sm-col-right col dark-gray h6">
    <i class="fa fa-fw fa-lg fa-angle-double-up"></i>
    Top
  </a>
  </div>
