---
layout: default
title: Contact
contact: active
description: Contact information for Deepthi Devaki Akkoorath, a software developer, researcher in distributed systems and eventual consistency.
---
<!-- <div class="jumbotron"> -->
<div class="contact">

	<p>You can get in touch with me:</p>
	
	<ul class="list-unstyled">
	    {% for contact in site.data.contact %}
        	{% if contact.type == "email" %}
			<li>Send email to <span class="obfuscate">{{ contact.link }}</span></li>
		{% else %}
			<li><a href="{{ contact.link }}">{{ contact.type }}</a></li>
        	{% endif %}
	    {% endfor %}

	</ul>

</div>
<!-- </div> -->
