<!-- capture system -->
	{% if include.page.type == "home" %}
		{% for section in site.data.about %}
			{% if section[0] == "About" %}
				{% for bullet in section[1] %}
					{% capture description %}{{ description }}{{ bullet | strip_html | strip_newlines | replace_first: 'I am', 'Deepthi Devaki Akkoorath is' | replace: 'I am', 'She is' | replace: 'My', 'Her' | replace: 'I have', 'She has' }}{% endcapture %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% if include.page.thumbnail_path %}
			{% capture image_path %}{{ include.page.thumbnail_path }}{% endcapture %}
		{% else %}
			{% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
		{% endif %}

		{% capture type %}profile{% endcapture %}

		{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}{% endcapture %}

		{% capture header_title %}{{ site.data.config.full_name }}{% endcapture %}

		{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

		{% capture schema_type %}Website{% endcapture %}

	{% elsif include.page.type == "research" %}
		{% if include.page.dynaid %}
			{% for research in site.data.research %}
				{% if research.id == include.page.dynaid %}
					{% capture description %}{{ description }}{{ research.description | strip_html | strip_newlines }}{% endcapture %}

					{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}: {{ research.topic }}{% endcapture %}

                                        {% if research.tags != null %}
                                          {% for tag in research.tags %}
                                            {% capture keywords %}{{ keywords }}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endcapture %}
                                          {% endfor %}
			                {% else %}
					  {% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}
                                        {% endif %}

				{% endif %}
			{% endfor %}

			{% capture type %}article{% endcapture %}

		{% else %}
			{% capture description %}{{ description }}Topics of research currently working are {% endcapture %}
			{% for research in site.data.research %}
				{% if research.sta != "old" %}
					{% capture description %}{{ description }}{{ research.topic }}{% endcapture %}
					{% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
				{% endif %}
			{% endfor %}
			{% capture description %}{{ description }}.{% endcapture %}
			{% capture description %}{{ description }}Topics of research previously worked are {% endcapture %}
			{% for research in site.data.research %}
                                {% if research.sta == "old" %}
                                        {% capture description %}{{ description }}{{ research.topic }}{% endcapture %}
					{% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
                                {% endif %}
                        {% endfor %}
			{% capture description %}{{ description }}.{% endcapture %}

			{% capture type %}website{% endcapture %}

			{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}{% endcapture %}

			{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

                {% endif %}

		{% if include.page.thumbnail_path %}
                	{% capture image_path %}{{ include.page.thumbnail_path }}{% endcapture %}
                {% else %}
                        {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                {% endif %}

		{% capture header_title %}{{ include.page.type | capitalize }}{% endcapture %}

		{% capture schema_type %}Article{% endcapture %}

	{% elsif include.page.type == "publications" %}
		{% if include.page.dynaid %}
			{% for section_hash in site.data.publications %}
				{% for section in section_hash %}
					{% for pubtext in section %}
						{% if pubtext.title != null and pubtext.id == include.page.dynaid %}
							{% capture description %}{{ description }}{{ pubtext.abstract | strip_html | strip_newlines }}{% endcapture %}
							{% capture image_path %}publications/{{ include.page.dynaid }}.jpeg{% endcapture %}

							{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}: {{ pubtext.title }}{% endcapture %}

                                                        {% if pubtext.keyword != null %}
                                                          {% for keyword in pubtext.keyword %}
                                                            {% capture keywords %}{{ keywords }}{{ keyword }}{% unless forloop.last %}, {% endunless %}{% endcapture %}
                                                          {% endfor %}
							{% else %}
							   {% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}
                                                        {% endif %}

						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endfor %}

			{% capture type %}article{% endcapture %}

			{% capture header_title %}{{ include.page.type | capitalize }}{% endcapture %}
		{% else %}
			{% capture description %}{{ description }}List of {% endcapture %}
			{% for section in site.data.publications %}
				{% capture description %}{{ description }}{{ section[0] }}{% endcapture %}
				{% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
			{% endfor %}
			{% capture description %}{{ description }} and Talks.{% endcapture %}

			{% if include.page.thumbnail_path %}
                        	{% capture image_path %}{{ include.page.thumbnail_path }}{% endcapture %}
                  	{% else %}
                        	{% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                  	{% endif %}

			{% capture type %}website{% endcapture %}

			{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }} and Talks{% endcapture %}

			{% capture header_title %}{{ include.page.type | capitalize }} and Talks{% endcapture %}

			{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

		{% endif %}

		{% capture schema_type %}Article{% endcapture %}
		
        {% elsif include.page.type == "talks" %}
                {% if include.page.dynaid %}
                        {% for section_hash in site.data.talks %}
                                {% for section in section_hash %}
                                        {% for pubtext in section %}
                                                {% if pubtext.title != null and pubtext.id == include.page.dynaid %}
                                                        {% capture description %}{{ description }}{{ pubtext.abstract | strip_html | strip_newlines }}{% endcapture %}
							{% capture image_path %}talks/{{ include.page.dynaid }}.jpeg{% endcapture %}

							{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}: {{ pubtext.title }}{% endcapture %}

                                                        {% if pubtext.keyword != null %}
                                                          {% for keyword in pubtext.keyword %}
                                                            {% capture keywords %}{{ keywords }}{{ keyword }}{% unless forloop.last %}, {% endunless %}{% endcapture %}
                                                          {% endfor %}
                                                        {% else %}
                                                           {% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}
                                                        {% endif %}

                                                {% endif %}
                                        {% endfor %}
                                {% endfor %}
                        {% endfor %}

			{% capture type %}article{% endcapture %}
                {% else %}
                        {% capture description %}{{ description }}List of topics are {% endcapture %}
                        {% for section in site.data.talks %}
                                {{ section[0] }}{% capture description %}{{ description }}{% endcapture %}
                                {% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
                        {% endfor %}
                        {% capture description %}{{ description }}.{% endcapture %}

                        {% if include.page.thumbnail_path %}
                                {% capture image_path %}{{ include.page.thumbnail_path }}{% endcapture %}
                        {% else %}
                                {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                        {% endif %}

			{% capture type %}website{% endcapture %}

			{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}{% endcapture %}

			{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

                {% endif %}

		{% capture header_title %}{{ include.page.type | capitalize }}{% endcapture %}

		{% capture schema_type %}Article{% endcapture %}
        {% elsif include.page.type == "projects" %}
                {% if include.page.dynaid %}
                        {% for project in site.data.projects %}
                                {% if project.id == include.page.dynaid %}
                                        {% capture description %}{{ description }}{{ project.description | strip_html | strip_newlines }}{% endcapture %}
					{% capture image_path %}projects/{{ project.image }}{% endcapture %}

					{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}: {{ project.name }}{% endcapture %}
                                {% endif %}
                        {% endfor %}

			{% capture type %}article{% endcapture %}
                {% else %}
                        {% capture description %}{{ description }}List of projects are {% endcapture %}
                        {% for project in site.data.projects %}
                                {% capture description %}{{ description }}{{ project.name_long }}{% endcapture %}
                                {% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
                        {% endfor %}
                        {% capture description %}{{ description }}.{% endcapture %}

                        {% if include.page.thumbnail_path %}
                                {% capture image_path %}{{ include.page.thumbnail_path }}{% endcapture %}
                        {% else %}
                                {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                        {% endif %}

			{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}{% endcapture %}

                {% endif %}

		{% capture type %}website{% endcapture %}

		{% capture header_title %}{{ include.page.type | capitalize }}{% endcapture %}

		{% capture schema_type %}SoftwareApplication{% endcapture %}

		{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

        {% elsif include.page.type == "profile" %}
         	{% capture description %}{{ description }}Profile of Deepti Devaki Akkoorath including {% endcapture %}
                {% for section in site.data.sections %}
			{% capture description %}{{ description }}{{ section.name }}{% endcapture %}
			{% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
		{% endfor %}
		{% capture description %}{{ description }} details.{% endcapture %}

                {% capture image_path %}cv/Deepthi_Devaki_Akkoorath_profile.jpeg{% endcapture %}

		{% capture type %}profile{% endcapture %}

		{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}{% endcapture %}

		{% capture header_title %}{{ include.page.type | capitalize }}{% endcapture %}

		{% capture schema_type %}Person{% endcapture %}

		{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

        {% elsif include.page.type == "contact" %}
                {% capture description %}{{ description }}Email is the best way to get in touch with me.{% endcapture %}

                {% if include.page.thumbnail_path %}
                        {% capture image_path %}{{ include.page.thumbnail_path }}{% endcapture %}
                {% else %}
                        {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                {% endif %}

		{% capture type %}website{% endcapture %}

		{% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}{% endcapture %}

		{% capture header_title %}{{ include.page.type | capitalize }} me{% endcapture %}

		{% capture schema_type %}WebSite{% endcapture %}

		{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

	{% elsif include.page.type %}
                {% if include.page.thumbnail_path %}
                        {% capture image_path %}{{ include.page.thumbnail_path }}{% endcapture %}
                {% else %}
                        {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                {% endif %}

                {% capture type %}website{% endcapture %}

                {% capture title %}{{ site.data.config.full_name }}, {{ include.page.type | capitalize }}{% endcapture %}

                {% capture header_title %}{{ include.page.type | capitalize }}{% endcapture %}		

		{% capture description %}{{ site.data.config.full_name }}, {{ title }}{% endcapture %}

		{% capture schema_type %}WebSite{% endcapture %}

		{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

	{% else %}
		{% if include.page.excerpt %}
			{% capture description %}{{ description }}{{ include.page.excerpt | strip_html | strip_newlines }}{% endcapture %}

			{% capture type %}{% if include.page.type %}{{ include.page.type }}{% else %}website{% endif %}{% endcapture %}
		{% elsif include.page.description %}
			{% capture description %}{{ description }}{{ include.page.description }}{% endcapture %}

			{% capture type %}{% if include.page.type %}{{ include.page.type }}{% else %}website{% endif %}{% endcapture %}
		{% else %}
			{% capture description %}{{ description }}{{ site.data.config.description }}{% endcapture %}

			{% capture type %}website{% endcapture %}
		{% endif %}

                {% if include.page.thumbnail_path %}
                	{% capture image_path %}{{ include.page.thumbnail_path }}{% endcapture %}
                {% else %}
                        {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                {% endif %}
		
		{% capture title %}{% if include.page.title %}{{ include.page.title }}{% else %}{{ site.data.config.full_name }}{% endif %}{% endcapture %}

		{% capture schema_type %}WebSite{% endcapture %}

		{% capture keywords %}{{ site.data.config.keywords}}{% endcapture %}

	{% endif %}

<!-- description -->
<!-- Nothing to chnage -->
<!-- image -->
{% capture image_url %}{% include image-url.html path=image_path absolute=true %}{% endcapture %}
<!-- url -->
{% capture url %}{% if include.page.url %}{{ include.page.url }}{% else %}{% include canonical-url.html %}{% endif %}{% endcapture %}
