<script type='application/ld+json'>
{
	"@context": "http://schema.org",
{% if page.type == "home" %}
        "@type": "WebSite",
{% elsif page.type == "research" %}
        "@type": "WebSite",
  {% if page.dynaid %}
    {% for research in site.data.research %}
      {% if research.id == page.dynaid %}
        {% for research in site.data.research %}
          {% if research.id == page.dynaid %}
            {% for tag in research.tags %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        {% for project in site.data.projects %}
          {% if project.rid == research.id %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}	
  {% else %}
  {% endif %}
{% elsif page.type == "publications" %}
        "@type": "WebSite",
  {% if page.dynaid %}
    {% for section_hash in site.data.publications %}
      {% for section in section_hash %}
        {% assign pubtype =  section_hash[0] %}
        {% for pubtext in section %}
          {% if pubtext.title != null and pubtext.id == page.dynaid %}
            {% if pubtext.author != null %}
              {% for author in pubtext.author %}
              {% endfor %}
            {% endif %}
            {% for tag in pubtext.keyword %}
            {% endfor %}
            {% if pubtext.year != null %}
            {% endif %}
            {% if pubtext.conference != null %}
            {% elsif pubtext.organization != null %}
            {% endif %}
            {% if pubtext.pdf != null %}
              {% if pubtext.pdf contains "http://" first or pubtext.pdf contains "https://" first %}
              {% else %}
              {% endif %}
            {% elsif pubtext.presentation != null %}
              {% if pubtext.presentation contains "http://" first or pubtext.presentation contains "https://" first %}
              {% else %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% else %}
  {% endif %}
{% elsif page.type == "talks" %}
        "@type": "WebSite",
  {% if page.dynaid %}
    {% for section_hash in site.data.talks %}
      {% for section in section_hash %}
        {% assign pubtype =  section_hash[0] %}
        {% for pubtext in section %}
          {% if pubtext.title != null and pubtext.id == page.dynaid %}
            {% if pubtext.author != null %}
              {% for author in pubtext.author %}
              {% endfor %}
            {% endif %}
            {% if pubtext.year != null %}
            {% endif %}
            {% for tag in pubtext.keyword %}
            {% endfor %}
            {% if pubtext.conference != null %}
            {% elsif pubtext.organization != null %}
            {% endif %}
            {% if pubtext.pdf != null %}
              {% if pubtext.pdf contains "http://" first or pubtext.pdf contains "https://" first %}
              {% else %}
              {% endif %}
            {% elsif pubtext.presentation != null %}
              {% if pubtext.presentation contains "http://" first or pubtext.presentation contains "https://" first %}
              {% else %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% else %}
  {% endif %}
{% elsif page.type == "projects" %}
        "@type": "WebSite",
  {% if page.dynaid %}
    {% for project in site.data.projects %}
      {% if project.id == page.dynaid %}
      {% endif %}
    {% endfor %}
  {% else %}
  {% endif %}
{% elsif page.type == "profile" %}
        "@type": "WebSite",
{% elsif page.type == "blog" %}
        "@type": "WebSite",
{% elsif page.type == "contact" %}
        "@type": "WebSite",
{% else %}
        "@type": "WebSite",
        "url": "{% include canonical-url.html %}",
        "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ site.base_url }}"
        },
        "name": "{{ site.data.config.full_name }}",
        "headline": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
        "copyrightYear": "{{ site.time | date: "%Y" }}",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "version": "{{ site.data.config.version }}",
{% endif %}
        "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ site.base_url }}{{ site.data.config.search }}/?q={search_term_string}",
                "query-input": "required name=search_term_string"
        }
}
</script>
