<script type='application/ld+json'>
{
	"@context": "http://schema.org",
{% if page.type == "home" %}
        "@type": "Person",
        "url": "{% include canonical-url.html %}",
        "name": "{{ site.data.config.full_name }}",
        "familyName": "{{ site.data.config.last_name }}",
        "givenName": "{{ site.data.config.first_name }}",
        "homeLocation": "{{ site.data.config.location }}",
        "description": "{{ description }}",
        "jobTitle": "{{ site.data.config.job }}",
        "image": "{{ image_url | strip }}",
        "sameAs": [{% for external_url_hash in site.data.contact %}{% assign external_url = external_url_hash[1] %}{% capture test_str %}{{ external_url.url | slice: 0, 7 }}{% endcapture %}{% unless test_str == 'mailto:' %}
                  "{{ external_url.url }}", {% endunless %}{% endfor %}{% for bib_url_hash in site.data.bibliography_link %}{% assign bib_url = bib_url_hash[1] %}
                  "{{ bib_url.url }}"{% unless forloop.last %}, {% endunless %}{% endfor %}
        ],
        "colleague": [
                "https://softech.cs.uni-kl.de/homepage/en/staff/AnnetteBieniusa/",
                "https://softech.cs.uni-kl.de/homepage/en/staff/PoetzschHeffter/",
                "https://softech.cs.uni-kl.de/homepage/en/staff/MalteBrunnlieb/",
                "https://softech.cs.uni-kl.de/homepage/en/staff/SebastianSchweizer/",
                "https://softech.cs.uni-kl.de/homepage/en/staff/MathiasWeber/",
                "https://softech.cs.uni-kl.de/homepage/en/staff/PeterZeller/"
        ],
        "spouse": {
                "@type": "Person",
                "url": "https://vm.thekkedam.org/",
                "name": "Vipin Madhavanunni"
        },
        "workLocation": "Kaiserslautern",
        "worksFor": {
                "@type": "Organization",
                "alternateName": "Kaiserslautern University",
                "description": "Software Technology Group",
                "url": "https://softech.cs.uni-kl.de/",
                "name": "TU Kaiserslautern"
        },
        "address": {
                "@type": "PostalAddress",
                "addressCountry": "Germany",
                "addressRegion": "Kaiserslautern"
        },
        "alumniOf": [
                "University of Amsterdam",
                "Amrita Vishwa Vidyapeetham"
        ],
        "alternateName": [
{% elsif page.type == "research" %}
        "@type": "WebPage",
        "url": "{% include canonical-url.html %}",
        "name": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
  {% if page.dynaid %}
    {% for research in site.data.research %}
      {% if research.id == page.dynaid %}
        {% for research in site.data.research %}
          {% if research.id == page.dynaid %}
            {% for tag in research.tags %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        {% for project in site.data.projects %}
          {% if project.rid == research.id %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}	
  {% else %}
  {% endif %}
        "alternateName": [
                "{{ site.data.config.full_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.name_short }} - {{ page.type | capitalize }}",
                "{{ site.data.config.last_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.first_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.alt_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.u_name }} - {{ page.type | capitalize }}",
                "{{ page.type | capitalize }}",
{% elsif page.type == "publications" %}
        "@type": "WebPage",
        "url": "{% include canonical-url.html %}",
        "name": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
  {% if page.dynaid %}
    {% for section_hash in site.data.publications %}
      {% for section in section_hash %}
        {% assign pubtype =  section_hash[0] %}
        {% for pubtext in section %}
          {% if pubtext.title != null and pubtext.id == page.dynaid %}
            {% if pubtext.author != null %}
              {% for author in pubtext.author %}
              {% endfor %}
            {% endif %}
            {% for tag in pubtext.keyword %}
            {% endfor %}
            {% if pubtext.year != null %}
            {% endif %}
            {% if pubtext.conference != null %}
            {% elsif pubtext.organization != null %}
            {% endif %}
            {% if pubtext.pdf != null %}
              {% if pubtext.pdf contains "http://" first or pubtext.pdf contains "https://" first %}
              {% else %}
              {% endif %}
            {% elsif pubtext.presentation != null %}
              {% if pubtext.presentation contains "http://" first or pubtext.presentation contains "https://" first %}
              {% else %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% else %}
  {% endif %}
        "alternateName": [
                "{{ site.data.config.full_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.name_short }} - {{ page.type | capitalize }}",
                "{{ site.data.config.last_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.first_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.alt_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.u_name }} - {{ page.type | capitalize }}",
                "{{ page.type | capitalize }}",
{% elsif page.type == "talks" %}
        "@type": "WebPage",
        "url": "{% include canonical-url.html %}",
        "name": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
  {% if page.dynaid %}
    {% for section_hash in site.data.talks %}
      {% for section in section_hash %}
        {% assign pubtype =  section_hash[0] %}
        {% for pubtext in section %}
          {% if pubtext.title != null and pubtext.id == page.dynaid %}
            {% if pubtext.author != null %}
              {% for author in pubtext.author %}
              {% endfor %}
            {% endif %}
            {% if pubtext.year != null %}
            {% endif %}
            {% for tag in pubtext.keyword %}
            {% endfor %}
            {% if pubtext.conference != null %}
            {% elsif pubtext.organization != null %}
            {% endif %}
            {% if pubtext.pdf != null %}
              {% if pubtext.pdf contains "http://" first or pubtext.pdf contains "https://" first %}
              {% else %}
              {% endif %}
            {% elsif pubtext.presentation != null %}
              {% if pubtext.presentation contains "http://" first or pubtext.presentation contains "https://" first %}
              {% else %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% else %}
  {% endif %}
        "alternateName": [
                "{{ site.data.config.full_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.name_short }} - {{ page.type | capitalize }}",
                "{{ site.data.config.last_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.first_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.alt_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.u_name }} - {{ page.type | capitalize }}",
                "{{ page.type | capitalize }}",
{% elsif page.type == "projects" %}
        "@type": "WebPage",
        "url": "{% include canonical-url.html %}",
        "name": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
  {% if page.dynaid %}
    {% for project in site.data.projects %}
      {% if project.id == page.dynaid %}
      {% endif %}
    {% endfor %}
  {% else %}
  {% endif %}
        "alternateName": [
                "{{ site.data.config.full_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.name_short }} - {{ page.type | capitalize }}",
                "{{ site.data.config.last_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.first_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.alt_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.u_name }} - {{ page.type | capitalize }}",
                "{{ page.type | capitalize }}",
{% elsif page.type == "profile" %}
        "@type": "WebPage",
        "url": "{% include canonical-url.html %}",
        "name": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
        "alternateName": [
                "{{ site.data.config.full_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.name_short }} - {{ page.type | capitalize }}",
                "{{ site.data.config.last_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.first_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.alt_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.u_name }} - {{ page.type | capitalize }}",
                "{{ page.type | capitalize }}",
{% elsif page.type == "blog" %}
        "@type": "WebPage",
        "url": "{% include canonical-url.html %}",
        "name": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
        "alternateName": [
                "{{ site.data.config.full_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.name_short }} - {{ page.type | capitalize }}",
                "{{ site.data.config.last_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.first_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.alt_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.u_name }} - {{ page.type | capitalize }}",
                "{{ page.type | capitalize }}",
{% elsif page.type == "contact" %}
        "@type": "WebPage",
        "url": "{% include canonical-url.html %}",
        "name": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
        "alternateName": [
                "{{ site.data.config.full_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.name_short }} - {{ page.type | capitalize }}",
                "{{ site.data.config.last_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.first_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.alt_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.u_name }} - {{ page.type | capitalize }}",
                "{{ page.type | capitalize }}",
{% else %}
        "@type": "WebPage",
        "url": "{% include canonical-url.html %}",
        "name": "{{ title }}",
        "keywords": "{{ keywords }}",
        "description": "{{ description }}",
        "alternateName": [
                "{{ site.data.config.full_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.name_short }} - {{ page.type | capitalize }}",
                "{{ site.data.config.last_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.first_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.alt_name }} - {{ page.type | capitalize }}",
                "{{ site.data.config.u_name }} - {{ page.type | capitalize }}",
                "{{ page.type | capitalize }}",
{% endif %}
		"D D Akkoorath",
                "{{ site.data.config.full_name }}",
                "{{ site.data.config.name_short }}",
                "{{ site.data.config.last_name }}",
                "{{ site.data.config.first_name }}",
                "{{ site.data.config.alt_name }}",
                "{{ site.data.config.u_name }}"
        ],
        "potentialAction": {
                "@type": "SearchAction",
                "target": "{{ site.base_url }}{{ site.data.config.search }}/?q={search_term_string}",
                "query-input": "required name=search_term_string"
        }
}
</script>
