<!-- Open Graph data -->
<meta property="og:title" content="{{ title }}"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="{% include canonical-url.html %}"/>
<meta property="og:site_name" content="{{ site.data.config.full_name }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content="{{ image_url | strip }}"/>

<!-- Open Graph extendend fields from http://ogp.me/ns -->
{% if page.type == "home" %}
  <meta property="og:type" content="profile"/>
  <meta property="profile:first_name" content="{{ site.data.config.first_name }}"/>
  <meta property="profile:last_name" content="{{ site.data.config.last_name }}"/>
  <meta property="profile:username" content="{{ site.data.config.id }}"/>
  <!--<meta property="profile:gender" content="female"/>-->
{% elsif page.type == "research" %}
  {% if page.dynaid %}
    <meta property="og:type" content="article"/>
    <meta property="article:published_time" content="{{ site.time | date_to_xmlschema }}"/>
    <meta property="article:author" content="{{ site.data.config.full_name }}"/>
    {% for research in site.data.research %}
      {% if research.id == page.dynaid %}
        <meta property="article:section" content="{{ research.topic }}"/>
        {% for research in site.data.research %}
          {% if research.id == page.dynaid %}
            {% for tag in research.tags %}
              <meta property="article:tag" content="{{ tag }}"/>
            {% endfor %}
          {% endif %}
        {% endfor %}
        {% for project in site.data.projects %}
          {% if project.rid == research.id %}
            <meta property="article:tag" content="{{ project.name }}"/>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}	
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}
{% elsif page.type == "publications" %}
  {% if page.dynaid %}
    <meta property="og:type" content="article" />
    {% for section_hash in site.data.publications %}
      {% for section in section_hash %}
        {% assign pubtype =  section_hash[0] %}
        {% for pubtext in section %}
          {% if pubtext.title != null and pubtext.id == page.dynaid %}
            <meta name="citation_title" content="{{ pubtext.title }}">
            {% if pubtext.author != null %}
              {% for author in pubtext.author %}
                <meta name="citation_author" content="{{ author }}">
              {% endfor %}
            {% endif %}
            {% for tag in pubtext.keyword %}
              <meta property="article:tag" content="{{ tag }}"/>
            {% endfor %}
            {% if pubtext.year != null %}
              <meta name="citation_publication_date" content="{{ pubtext.year }}">
            {% endif %}
            <!-- need fix in yml matter -->
            {% if pubtext.conference != null %}
              <meta name="citation_journal_title" content="{{ pubtext.conference }}">
            {% elsif pubtext.organization != null %}
              <meta name="citation_journal_title" content="{{ pubtext.organization }}">
            {% endif %}
              <!-- need to seperate this infos in yml matter -->
              <!--
              <meta name="citation_volume" content="271">
              <meta name="citation_issue" content="20">
              <meta name="citation_firstpage" content="11761">
              <meta name="citation_lastpage" content="11766">
              -->
            {% if pubtext.pdf != null %}
              {% if pubtext.pdf contains "http://" first or pubtext.pdf contains "https://" first %}
                <meta name="citation_pdf_url" content="{{ pubtext.pdf }}">
              {% else %}
                <meta name="citation_pdf_url" content="{% include canonical-url.html url=pubtext.pdf %}">
              {% endif %}
            {% elsif pubtext.presentation != null %}
              {% if pubtext.presentation contains "http://" first or pubtext.presentation contains "https://" first %}
                <meta name="citation_pdf_url" content="{{ pubtext.presentation }}">
              {% else %}
                <meta name="citation_pdf_url" content="{% include canonical-url.html url=pubtext.presentation %}">
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}
{% elsif page.type == "talks" %}
  {% if page.dynaid %}
    <meta property="og:type" content="article" />
    {% for section_hash in site.data.talks %}
      {% for section in section_hash %}
        {% assign pubtype =  section_hash[0] %}
        {% for pubtext in section %}
          {% if pubtext.title != null and pubtext.id == page.dynaid %}
            <meta name="citation_title" content="{{ pubtext.title }}">
            <!-- auther seperation required in yml -->
            {% if pubtext.author != null %}
              {% for author in pubtext.author %}
                <meta name="citation_author" content="{{ author }}">
              {% endfor %}
            {% endif %}
            {% if pubtext.year != null %}
              <meta name="citation_publication_date" content="{{ pubtext.year }}">
            {% endif %}
            {% for tag in pubtext.keyword %}
              <meta property="article:tag" content="{{ tag }}"/>
            {% endfor %}
            <!-- need fix in yml matter -->
            {% if pubtext.conference != null %}
              <meta name="citation_journal_title" content="{{ pubtext.conference }}">
            {% elsif pubtext.organization != null %}
              <meta name="citation_journal_title" content="{{ pubtext.organization }}">
            {% endif %}
            <!-- need to seperate this infos in yml matter -->
            <!--
            <meta name="citation_volume" content="271">
            <meta name="citation_issue" content="20">
            <meta name="citation_firstpage" content="11761">
            <meta name="citation_lastpage" content="11766">
            -->
            {% if pubtext.pdf != null %}
              {% if pubtext.pdf contains "http://" first or pubtext.pdf contains "https://" first %}
                <meta name="citation_pdf_url" content="{{ pubtext.pdf }}">
              {% else %}
                <meta name="citation_pdf_url" content="{% include canonical-url.html url=pubtext.pdf %}">
              {% endif %}
            {% elsif pubtext.presentation != null %}
              {% if pubtext.presentation contains "http://" first or pubtext.presentation contains "https://" first %}
                <meta name="citation_pdf_url" content="{{ pubtext.presentation }}">
              {% else %}
                <meta name="citation_pdf_url" content="{% include canonical-url.html url=pubtext.presentation %}">
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}
{% elsif page.type == "projects" %}
  {% if page.dynaid %}
    <meta property="og:type" content="article"/>
    <meta property="article:author" content="{{ site.data.config.full_name }}"/>
    {% for project in site.data.projects %}
      {% if project.id == page.dynaid %}
        <meta property="article:published_time" content="{{ project.date }}"/>
        <meta property="article:section" content="{{ project.name_long }}"/>
        <!-- need to update yml matter for tags -->
        <!--
        <meta property="article:tag" content="article"/>
        -->
      {% endif %}
    {% endfor %}
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}
{% elsif page.type == "profile" %}
  <meta property="og:type" content="profile"/>
  <meta property="profile:first_name" content="{{ site.data.config.first_name }}"/>
  <meta property="profile:last_name" content="{{ site.data.config.last_name }}"/>
  <meta property="profile:username" content="{{ site.data.config.id }}"/>
  <!--<meta property="profile:gender" content="female"/>-->
{% elsif page.type == "blog" %}
  <meta property="og:type" content="blog" />
{% elsif page.type == "contact" %}
  <meta property="og:type" content="website" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}

