<link rel="dns-prefetch" href="//ajax.cloudflare.com/">
<link rel="dns-prefetch" href="//discovery.amp.cloudflare.com/">
<link rel="dns-prefetch" href="//www.googletagmanager.com/">
<link rel="dns-prefetch" href="//fonts.googleapis.com/">
<link rel="dns-prefetch" href="//fonts.gstatic.com/">
<link rel="dns-prefetch" href="//ampcid.google.com/">
<link rel="dns-prefetch" href="//www.google.com/">
<link rel="dns-prefetch" href="//www.google-analytics.com/">
<link rel="dns-prefetch" href="//cse.google.com/">

<link rel="preconnect" href="//ajax.cloudflare.com/">
<link rel="preconnect" href="//discovery.amp.cloudflare.com/">
<link rel="preconnect" href="//www.googletagmanager.com/">
<link rel="preconnect" href="//fonts.googleapis.com/">
<link rel="preconnect" href="//fonts.gstatic.com/">
<link rel="preconnect" href="//ampcid.google.com/">
<link rel="preconnect" href="//www.google.com/">
<link rel="preconnect" href="//www.google-analytics.com/">
<link rel="preconnect" href="//cse.google.com/">
