<div class="bg-splash-lblue py2" >
<p class="justify">  The Cloudflare cookie is a necessary one and if you’d prefer to opt out of being tracked by Google Analytics on this website, please click below. By clicking this button a single cookie for Google Analytics will be added to remember your preference.</p>
<p style="float:right;">Click (<a href="javascript:gaOptout()"><i class="fa fa-fw fa-lg fa-close"></i> here</a>) to Opt-out of Google Analytics</p>
<br>
<br>
</div>
<br>
<div class="bg-splash-lblue py2" >
<p class="justify">  In case you changed your mind and like to opt in for Google Analytics on this website, please click below. By clicking this button a single cookie for Google Analytics will be added to remember your preference.</p>
<p style="float:right;">Click (<a href="javascript:gaOptin()"><i class="fa fa-fw fa-lg fa-thumbs-o-up"></i> here</a>) to Opt-In for Google Analytics</p>
<br>
<br>
</div>
