<div class="clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
  {% if page.type != "home" %}
    <div class="col h5 gray">
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/" class="link-color" title="Go to Home">
          <span itemprop="name">Home</span>
        </a>
        <meta itemprop="position" content="1" />/
      </span>
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/{{ page.type }}/" class="link-color" title="Go to {{ page.type | capitalize }}">
          <span itemprop="name">{{ page.type | capitalize }}</span>
        </a>
        <meta itemprop="position" content="2" />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </span>
    </div>
  {% else %}
    <span>
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemscope itemtype="http://schema.org/Thing" itemprop="item">
          <meta itemprop="name" content="Home" />
        </span>
        <meta itemprop="position" content="1" />
      </span>
    </span>
  {% endif %}
  <div class="sm-col-right col h5 gray">
    <span>Share {% include share-buttons.html %}</span>
    {% if page.type == "profile" %}
      <span> | <a href="{{ site.data.config.resume_path }}" target="_blank" rel="noopener" onClick="ga(‘send’, ‘event’, ‘ CV Downloads’, ‘Click’, ‘CV-PDF’);"><i class="h6 fa fa-fw fa-lg fa-download"></i>CV</a></span>
    {% endif %}
  </div>
</div>
