<!-- absalute meta -->
{% include capture-absalute_meta.html %}
<!-- Security Headers -->
{% include capture-security_meta.html %}
<!-- DNS prefetch -->
{% include dns-prefetch.html %}
<!-- globel -->
{% include capture-globel_meta.html %}
<!-- OLD is GOLD -->
{% include capture-old_meta.html %}
<!-- Google+ Card data -->
{% include capture-google_card.html %}
<!-- Twitter Card data -->
{% include capture-twitter_card.html  %}
<!-- fb card -->
{% include capture-fb_card.html %}
<!-- Open Graph fields from http://ogp.me/ns -->
{% include capture-og.html %}
<!-- ref seo using seo jekill plugin -->
<!-- seo title=false -->
<!-- Aditional schema.org meta infos -->
{% include capture-schema.html %}
<!-- rss -->
<link rel="alternate" type="application/rss+xml" title="{{ site.data.config.full_name }}" href="{{ site.url }}{{ site.data.config.feed }}">
<link rel="search" type="application/opensearchdescription+xml" href="{{ site.url }}{{ site.data.config.opensearch }}" title="{{ site.data.config.full_name }}" />
<!-- END OF METTA -->
