<!-- capture system -->
	{% if page.type == "home" %}
		{% for section in site.data.about %}
			{% if section[0] == "About" %}
				{% for bullet in section[1] %}
					{% capture description %}{{ description }}{{ bullet | strip_html | strip_newlines }}{% endcapture %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% if page.thumbnail_path %}
			{% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
		{% else %}
			{% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
		{% endif %}
		
		{% capture type %}profile{% endcapture %}
	{% elsif page.type == "research" %}
		{% if page.dynaid %}
			{% for research in site.data.research %}
				{% if research.id == page.dynaid %}
					{% capture description %}{{ description }}{{ research.description | strip_html | strip_newlines }}{% endcapture %}
				{% endif %}
			{% endfor %}

			{% capture type %}article{% endcapture %}
		{% else %}
			{% capture description %}{{ description }}Topics of research currently working are {% endcapture %}
			{% for research in site.data.research %}
				{% if research.sta != "old" %}
					{% capture description %}{{ description }}{{ research.topic }}{% endcapture %}
					{% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
				{% endif %}
			{% endfor %}
			{% capture description %}{{ description }}.{% endcapture %}
			{% capture description %}{{ description }}Topics of research previously worked are {% endcapture %}
			{% for research in site.data.research %}
                                {% if research.sta == "old" %}
                                        {% capture description %}{{ description }}{{ research.topic }}{% endcapture %}
					{% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
                                {% endif %}
                        {% endfor %}
			{% capture description %}{{ description }}.{% endcapture %}

			{% capture type %}website{% endcapture %}
                {% endif %}


		{% if page.thumbnail_path %}
                	{% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                {% else %}
                        {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                {% endif %}

	{% elsif page.type == "publications" %}
		{% if page.dynaid %}
			{% for section_hash in site.data.publications %}
				{% for section in section_hash %}
					{% for pubtext in section %}
						{% if pubtext.title != null and pubtext.id == page.dynaid %}
							{% capture description %}{{ description }}{{ pubtext.abstract | strip_html | strip_newlines }}{% endcapture %}
							{% capture image_path %}publications/{{ page.dynaid }}.jpeg{% endcapture %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endfor %}

			{% capture type %}article{% endcapture %}
		{% else %}
			{% capture description %}{{ description }}List of {% endcapture %}
			{% for section in site.data.publications %}
				{% capture description %}{{ description }}{{ section[0] }}{% endcapture %}
				{% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
			{% endfor %}
			{% capture description %}{{ description }} and Talks.{% endcapture %}

			{% if page.thumbnail_path %}
                        	{% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                  	{% else %}
                        	{% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                  	{% endif %}

			{% capture type %}website{% endcapture %}
		{% endif %}
        {% elsif page.type == "talks" %}
                {% if page.dynaid %}
                        {% for section_hash in site.data.talks %}
                                {% for section in section_hash %}
                                        {% for pubtext in section %}
                                                {% if pubtext.title != null and pubtext.id == page.dynaid %}
                                                        {% capture description %}{{ description }}{{ pubtext.abstract | strip_html | strip_newlines }}{% endcapture %}
							{% capture image_path %}talks/{{ page.dynaid }}.jpeg{% endcapture %}
                                                {% endif %}
                                        {% endfor %}
                                {% endfor %}
                        {% endfor %}

			{% capture type %}article{% endcapture %}
                {% else %}
                        {% capture description %}{{ description }}List of topics are {% endcapture %}
                        {% for section in site.data.talks %}
                                {{ section[0] }}{% capture description %}{{ description }}{% endcapture %}
                                {% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
                        {% endfor %}
                        {% capture description %}{{ description }}.{% endcapture %}

                        {% if page.thumbnail_path %}
                                {% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                        {% else %}
                                {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                        {% endif %}

			{% capture type %}website{% endcapture %}
                {% endif %}
        {% elsif page.type == "projects" %}
                {% if page.dynaid %}
                        {% for project in site.data.projects %}
                                {% if project.id == page.dynaid %}
                                        {% capture description %}{{ description }}{{ project.description | strip_html | strip_newlines }}{% endcapture %}
					{% capture image_path %}projects/{{ project.image }}{% endcapture %}
                                {% endif %}
                        {% endfor %}

			{% capture type %}article{% endcapture %}
                {% else %}
                        {% capture description %}{{ description }}List of projects are {% endcapture %}
                        {% for project in site.data.projects %}
                                {% capture description %}{{ description }}{{ project.name_long }}{% endcapture %}
                                {% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
                        {% endfor %}
                        {% capture description %}{{ description }}.{% endcapture %}

                        {% if page.thumbnail_path %}
                                {% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                        {% else %}
                                {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                        {% endif %}
                {% endif %}

		{% capture type %}website{% endcapture %}
        {% elsif page.type == "profile" %}
         	{% capture description %}{{ description }}Profile of Deepti Devaki Akkoorath including {% endcapture %}
                {% for section in site.data.sections %}
			{% capture description %}{{ description }}{{ section.name }}{% endcapture %}
			{% capture description %}{{ description }}{% unless forloop.last %} ,{% endunless %}{% endcapture %}
		{% endfor %}
		{% capture description %}{{ description }} details.{% endcapture %}

                {% if page.thumbnail_path %}
                        {% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                {% else %}
                        {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                {% endif %}

		{% capture type %}profile{% endcapture %}
        {% elsif page.type == "contact" %}
                {% capture description %}{{ description }}Email is the best way to get in touch with me.{% endcapture %}

                {% if page.thumbnail_path %}
                        {% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                {% else %}
                        {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                {% endif %}

		{% capture type %}website{% endcapture %}
	{% else %}
		<!-- discription -->
		{% if page.excerpt %}
			{% capture description %}{{ description }}{{ page.excerpt | strip_html | strip_newlines }}{% endcapture %}

                        {% if page.thumbnail_path %}
                                {% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                        {% else %}
                                {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                        {% endif %}

			{% capture type %}{% if page.type %}{{ page.type }}{% else %}website{% endif %}{% endcapture %}
		{% elsif page.description %}
			{% capture description %}{{ description }}{{ page.description }}{% endcapture %}

                        {% if page.thumbnail_path %}
                                {% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                        {% else %}
                                {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                        {% endif %}

			{% capture type %}{% if page.type %}{{ page.type }}{% else %}website{% endif %}{% endcapture %}
		{% else %}
			{% capture description %}{{ description }}{{ site.data.config.description }}{% endcapture %}

                        {% if page.thumbnail_path %}
                                {% capture image_path %}{{ page.thumbnail_path }}{% endcapture %}
                        {% else %}
                                {% capture image_path %}{{ site.data.config.thumbnail_path }}{% endcapture %}
                        {% endif %}

			{% capture type %}website{% endcapture %}
		{% endif %}
	{% endif %}

<!-- description -->
<!-- Nothing to chnage -->
<!-- image -->
{% capture image_url %}{% include image-url.html path=image_path absolute=true %}{% endcapture %}
<!-- url -->
{% capture url %}{% if page.url %}{{ page.url }}{% else %}{% include canonical-url.html %}{% endif %}{% endcapture %}

<!-- globel -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ description }}">
<meta itemprop="image" content="{{ image_url }}">
<link rel="canonical" href="{% include canonical-url.html %}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:url" content="{% include canonical-url.html %}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ image_url }}">
<meta name="twitter:site" content="{{ site.data.contact.twitter.username }}">
<meta name="twitter:creator" content="{{ site.data.contact.twitter.username }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="{% include canonical-url.html %}"/>
<meta property="og:site_name" content="{{ site.data.config.full_name }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content="{{ image_url }}"/>

<!-- Open Graph extendend fields from http://ogp.me/ns -->
{% if page.type == "home" %}
	<meta property="og:type" content="profile"/>
	<meta property="profile:first_name" content="Deepthi Devaki"/>
	<meta property="profile:last_name" content="Akkoorath"/>
	<meta property="profile:username" content="deepthidevaki"/>
	<!--<meta property="profile:gender" content="female"/>-->
{% elsif page.type == "research" %}
	{% if page.dynaid %}
		<meta property="og:type" content="article"/>
		<meta property="article:published_time" content="{{ site.time | date_to_xmlschema }}"/>
		<meta property="article:author" content="{{ site.data.config.full_name }}"/>
		{% for research in site.data.research %}
			{% if research.id == page.dynaid %}
				<meta property="article:section" content="{{ research.topic }}"/>
				{% for project in site.data.projects %}
					{% if project.rid == research.id %}
						<meta property="article:tag" content="{{ project.name }}"/>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}	
	{% else %}
		<meta property="og:type" content="website" />
	{% endif %}
{% elsif page.type == "publications" %}
        {% if page.dynaid %}
		{% for section_hash in site.data.publications %}
			{% for section in section_hash %}
				{% assign pubtype =  section_hash[0] %}
				{% for pubtext in section %}
					{% if pubtext.title != null and pubtext.id == page.dynaid %}
						<meta name="citation_title" content="{{ pubtext.title }}">
						{% if pubtext.author != null %}
							{% for author in pubtext.author %}
								<meta name="citation_author" content="{{ author }}">
							{% endfor %}
						{% endif %}
						{% if pubtext.year != null %}
							<meta name="citation_publication_date" content="{{ pubtext.year }}">
						{% endif %}
						<!-- need fix in yml matter -->
            					{% if pubtext.conference != null %}
                					<meta name="citation_journal_title" content="{{ pubtext.conference }}">
            					{% elsif pubtext.organization != null %}
                					<meta name="citation_journal_title" content="{{ pubtext.organization }}">
            					{% endif %}
						<!-- need to seperate this infos in yml matter -->
						<!--
						<meta name="citation_volume" content="271">
						<meta name="citation_issue" content="20">
						<meta name="citation_firstpage" content="11761">
						<meta name="citation_lastpage" content="11766">
						-->
            					{% if pubtext.pdf != null %}
							{% if pubtext.pdf contains "http://" first or pubtest.pdf contains "https://" first %}
                						<meta name="citation_pdf_url" content="{{ pubtext.pdf }}">
							{% else %}
								<meta name="citation_pdf_url" content="{% include canonical-url.html url=pubtext.pdf %}">
							{% endif %}
						{% elsif pubtext.presentation != null %}
                                                        {% if pubtext.presentation contains "http://" first or pubtest.presentation contains "https://" first %}
                                                                <meta name="citation_pdf_url" content="{{ pubtext.presentation }}">
                                                        {% else %}
                                                                <meta name="citation_pdf_url" content="{% include canonical-url.html url=pubtext.presentation %}">
                                                        {% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endfor %}
        {% else %}
                <meta property="og:type" content="website" />
        {% endif %}
{% elsif page.type == "talks" %}
        {% if page.dynaid %}
		{% for section_hash in site.data.talks %}
			{% for section in section_hash %}
				{% assign pubtype =  section_hash[0] %}
				{% for pubtext in section %}
					{% if pubtext.title != null and pubtext.id == page.dynaid %}
						<meta name="citation_title" content="{{ pubtext.title }}">
						<!-- auther seperation required in yml -->
						{% if pubtext.author != null %}
							{% for author in pubtext.author %}
								<meta name="citation_author" content="{{ author }}">
							{% endfor %}
						{% endif %}
						{% if pubtext.year != null %}
							<meta name="citation_publication_date" content="{{ pubtext.year }}">
						{% endif %}
						<!-- need fix in yml matter -->
            					{% if pubtext.conference != null %}
                					<meta name="citation_journal_title" content="{{ pubtext.conference }}">
            					{% elsif pubtext.organization != null %}
                					<meta name="citation_journal_title" content="{{ pubtext.organization }}">
            					{% endif %}
						<!-- need to seperate this infos in yml matter -->
						<!--
						<meta name="citation_volume" content="271">
						<meta name="citation_issue" content="20">
						<meta name="citation_firstpage" content="11761">
						<meta name="citation_lastpage" content="11766">
						-->
            					{% if pubtext.pdf != null %}
							{% if pubtext.pdf contains "http://" first or pubtest.pdf contains "https://" first %}
                						<meta name="citation_pdf_url" content="{{ pubtext.pdf }}">
							{% else %}
								<meta name="citation_pdf_url" content="{% include canonical-url.html url=pubtext.pdf %}">
							{% endif %}
						{% elsif pubtext.presentation != null %}
                                                        {% if pubtext.presentation contains "http://" first or pubtest.presentation contains "https://" first %}
                                                                <meta name="citation_pdf_url" content="{{ pubtext.presentation }}">
                                                        {% else %}
                                                                <meta name="citation_pdf_url" content="{% include canonical-url.html url=pubtext.presentation %}">
                                                        {% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endfor %}
        {% else %}
                <meta property="og:type" content="website" />
        {% endif %}
{% elsif page.type == "projects" %}
        {% if page.dynaid %}
                <meta property="og:type" content="article"/>
                <meta property="article:author" content="{{ site.data.config.full_name }}"/>
		{% for project in site.data.projects %}
			{% if project.id == page.dynaid %}
				<meta property="article:published_time" content="{{ project.date }}"/>
				<meta property="article:section" content="{{ project.name_long }}"/>
				<!-- need to update yml matter for tags -->
				<!--
				<meta property="article:tag" content="article"/>
				-->
			{% endif %}
		{% endfor %}
        {% else %}
                <meta property="og:type" content="website" />
        {% endif %}
{% elsif page.type == "profile" %}
	<meta property="og:type" content="profile"/>
	<meta property="profile:first_name" content="Deepthi Devaki"/>
	<meta property="profile:last_name" content="Akkoorath"/>
	<meta property="profile:username" content="deepthidevaki"/>
	<!--<meta property="profile:gender" content="female"/>-->
{% elsif page.type == "blog" %}
	<meta property="og:type" content="blog" />
{% elsif page.type == "contact" %}
	<meta property="og:type" content="website" />
{% else %}
	<meta property="og:type" content="website" />
{% endif %}

<!-- ref seo using seo jekill plugin -->
<!-- seo title=false -->

<!-- Aditional schema.org meta infos -->

<!-- rss -->
<link rel="alternate" type="application/rss+xml" title="{{ site.data.config.full_name }}" href="{{ site.url }}/{{ site.data.config.feed }}">

