.clear-both {
  clear: both;
}

.square-100 {
  width: 100px;
  height: 100px;
}

.square-20 {
  width: 20px;
  height: 20px;
}

.max-height-120 {
  max-height: 120px;
}

.width-120 {
  width: 120px;
}

.max-width-120 {
  max-width: 120px;
}

.max-width-110 {
  max-width: 110px;
}
