.input-text {
  max-width: 60%;
  background: #eee;
  border: 0;
  border-color: #ccc;
  height: 15px;
  padding: 4px 0px 4px 0px;
}

.gsc-adBlockVertical, .gsc-adBlock { /* this hides both the top and right ad blocks*/
    display:none;
}
.gsc-thinWrapper { /* this gives you use of the whole block, as opposed to 69% google gives*/
    width: 100%;
}

#banner-gcserr {
  display: block;
  margin-bottom: 30px;
  padding: 20px 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
