---
layout: default
---
<div class="cv">
{% for project in site.data.projects %}
   <a href="#{{ project.id }}" class="btn btn-default" title="Go to {{ project.name }}">{{ project.name }}</a>
{% endfor %}
{% for project in site.data.projects %}
  <a id="{{ project.id }}"></a><h3>{{ project.name }}</h3>
  <h5>{{ project.name_long }}</h5>
  {{ project.org }}<br>
  {{ project.date }}<br>
  <dl class="dl-horizontal">
    <dt>
      <a href="{{ project.url }}" target="_blank">
        {% capture image_path %}projects/{{ project.image }}{% endcapture %}
        {% include image.html path=image_path alt=project.name %}
      </a>
    </dt>
    <dd>
      <p align="justify" class="left-align">{{ project.description }}</p>
      {% if project.url != null %}
          <a href="{{ project.url }}" target="_blank">{{ project.url_label }}</a><br>
      {% endif %}
      {% if project.src_url != null %}
          <a href="{{ project.src_url }}" target="_blank">{{ project.src_label }}</a><br>
      {% endif %}
      {% if project.doc_url != null %}       
          <a href="{{ project.doc_url }}" target="_blank">{{ project.doc_label }}</a><br>
      {% endif %}
    </dd>
  </dl>
{% endfor %}
</div>

